p, li{
    text-align:justify;
    font-weight: bold;
    font-size: 22.2px;

    line-height: 40px;
    margin-bottom: 0px;

}

hr{
    height: 10px;
    background-color: darkgreen;
    border-width: 0px;
    margin: 0px;
}

h1{
    font-size: 40px;
    text-align: center;
}

body{
    margin: 20px;
    background-color: black;

}
img{
    margin: 10px;
    height: 35%;
    width: 35%;
}

hr{
    background: linear-gradient(90deg, #00ff51, #00bfff);
    clear: both;
}

h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

h2,h1,p,li{
    background-image: linear-gradient(to right, #00ff51, #00ffbf ,#00bfff);

    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}
